<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--
		Copyright 2021 Arriana Blais
		Licensed under the Apache License, Version 2.0 (the "License");
		you may not use this file except in compliance with the License.
	-->

	<!-- Meta tags for all social media -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta property="og:title" content="Arri Blais - Hoi!!!!">
	<meta property="og:description" content="Welcome! I am Arri and make websites pretty and usable! Chack it out!">

	<!-- emoji favicon -->
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👩‍💻</text></svg>">

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/layout.css">


	<title>🙋‍♀️ Arri Blais - Hello!</title>
</head>
<body>
	<header class="header">
		<p class="hidden-link skip-to-main">
			<a href="#main-content">Skip to main content</a>
		</p>
		<img class="profile-image" src="/static/images/profile.jpg" alt="Image of Arri smiling at the camera wearing a green top and a dark skirt">
		<h1 class="greeting">Hello! I'm Arri</h1>
		<p class="about-me">Make things accessible and teach it to others!</p>
	</header>
	<nav class="navigation" id="navigation">
		<ol>
			<li><a href="#hoi">Welcome</a></li>
		</ol>
	</nav>
	<main id="main-content">
		{{content | safe}}
	</main>
	<footer>
	</footer>
</body>
</html>