html, body {
	box-sizing: border-box;

	width: 100%;
	height: 100%;
}

.header {
	display: grid;
	grid-template-areas: 
		"profile-image greeting"
		"profile-image about-me"
		"profile-image skip-to-main";

	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	column-gap: 1em;
}
.profile-image {
	grid-area: profile-image;
}
.greeting {
	grid-area: greeting;
}
.about-me {
	grid-area: about-me;
}
.skip-to-main {
	grid-area: skip-to-main;
}

main {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0;
}

nav.navigation ol {
	display: flex;
	padding: 0.5em;
	justify-content: center;
	align-items: center;
}

nav.navigation ol li {
	padding: 0 1em;
}

@media (max-width: 496px) {
	.header {
		grid-template-areas: 
		"profile-image greeting"
		"about-me      about-me"
		"skip-to-main  skip-to-main";
	}

	nav.navigation ol {
		flex-direction: column;
	}

	nav.navigation ol a {
		padding: 0.5em;
	}
}

main :is(p, h1, h2, h3, h4, h5, h6) {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

p + h2 {
	margin-top: 2em;
}
