
.header {
	display: grid;
	grid-template-areas: 
		"profile-image greeting skip-to-main"
		"profile-image about-me       .     ";

	grid-template-columns: auto auto 1fr;
	grid-template-rows: auto 1fr;
	column-gap: 1em;
}

.profile-image {
	grid-area: profile-image;
}

.greeting {
	grid-area: greeting;
}

.about-me {
	grid-area: about-me;
}

.skip-to-main {
	grid-area: skip-to-main;
}


