body {
	font-family: var(--main-font);

	margin: 0;
	padding: 0.5em;
}

p {
	text-shadow: var(--paragraph-shadow);
}

a {
	display: inline-block;
	font-family: var(--link-font);
	color: var(--link-color);
}

main :is(p,h1, h2, h3, h4, h5, h6), nav {
	background: var(--section-background);
}

h1, h2, h3, h4, h5, h6 {
	padding-top: 1em;
	font-family: var(--heading-font);
	text-shadow: var(--header-shadow);
}

*:focus {	
	outline: var(--outline);
}

.hidden-link a {
	opacity: 0;
}

.hidden-link a:focus {
	opacity: unset;
}

img.profile-image {
	border-radius: 4em;
	width: 8em;
	filter: sepia(200%)
}

a.permalink {
	opacity: 0;
	text-decoration: none;
}

a.permalink:is(:hover, :focus),
h2:is(:hover, :focus) a.permalink,
h3:is(:hover, :focus) a.permalink,
h4:is(:hover, :focus) a.permalink {
	opacity: unset;
}

span[role=img].ascii-art {
	font-family: var(--emoji-font);
}

@keyframes wavingAnimation {
	0% {
		transform: rotate(15deg);
	}

	35% {
		transform: rotate(10deg);
	}

	65% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(-15deg);
	}
}

.animated-wave-hand {
	display: inline-block;
	transform-origin: bottom right;
}

.greeting:hover .animated-wave-hand {
	animation: 400ms infinite alternate wavingAnimation;
}

nav.navigation ol {
	list-style: none;
	padding: 0;
}

.icon {
	height: 1em;
	margin-right: 0.5em;
}

nav .icon {
	margin-right: 0;
}