body {
	font-family: var(--main-font);
}

a {
	font-family: var(--main-font);
}

.hidden-link a {
	opacity: 0;
}

.hidden-link a:focus {
	opacity: unset;
}

img.profile-image {
	border-radius: 4em;
	width: 8em;
}

a.permalink {
	opacity: 0;
	text-decoration: none;
}

a.permalink:focus,
a.permalink:hover {
	opacity: unset;
}

nav.navigation ol {
	list-style: none;
	padding: 0;
}