body {
	font-family: var(--main-font);
}

p {
	text-shadow: var(--paragraph-shadow);
}

a {
	font-family: var(--link-font);
	color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	text-shadow: var(--header-shadow);
}

.hidden-link a {
	opacity: 0;
}

.hidden-link a:focus {
	opacity: unset;
}

img.profile-image {
	border-radius: 4em;
	width: 8em;
	filter: sepia(200%)
}

a.permalink {
	opacity: 0;
	text-decoration: none;
}

a.permalink:focus,
a.permalink:hover {
	opacity: unset;
}

nav.navigation ol {
	list-style: none;
	padding: 0;
}